.DS_Store
.idea
*.iml
*.class
*.xcuserstate
build
app2
cube2
Cube.xcworkspace/xcuserdata/ambrose.xcuserdatad
libs/PromiseKit-6/PromiseKit.xcodeproj/xcuserdata/ambrose.xcuserdatad
libs/WebRTC.xcframework
